calibration/camera_calibration/
calibration/robot_calibration/
calibration/camera_matrix.npy
calibration/dist_coeffs.npy

ds/forearm-dorsal-dataset
ds/test
ds/test_forearm
ds/test_forearm_copy
ds/train
ds/validation

dataset_videos/

recon/img_pose.txt
recon/pointcloud.txt

segm/test_forearm_results
segm/test_results
segm/best_model.model

myenv/
.DS_Store
__pycache__
best_model.pth
